.face-feed{
  position: relative;
  background-image: url('../Grafiikat/image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feed{
  position: relative;
  z-index: 99;
}
.face-feed:after{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.feed-content p{
  margin: 0;
  padding: 15px;
  background-color: $main-color;
}
.feed-content a{
  text-decoration: none;
  color: $secondary-color;
}
.feed-content a:hover, .feed-content a:focus{
  text-decoration: none;
}
.some{
  margin-bottom: 60px;
  color: $main-color;
  text-align: center;
}
.relative-text{
  z-index: 99;
  position: relative;
}
